.lead {
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 92px;
    text-align: center;
}

@media screen and (max-width: 1120px) {
	.lead {
        max-width: 928px;
        min-height: 580px;
        }
}

@media screen and (max-width: 960px) {
	.lead {
        width: 100%;
        padding-bottom: 88px;
	}
}

@media screen and (max-width: 540px) {
	.lead {
        width: 100%;
        min-height: 406px; 
        padding-bottom: 56px;
	}
}