.header__logo {
    width: 176px;
    height: 52px;
    margin: 0;
    background-image: url(../../../images/header-logo.svg);
    
}

@media screen and (max-width: 540px) {
	.header__logo {
        width: 142px;
        background-size: 142px 42px;
        background-repeat: no-repeat;
	}
}