.place__paragraph {
    width: 484px;
    height: 145px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    
    flex-direction: column;
    margin: 0 auto;
    padding-left: 40px;
    
    
}

.place__paragraph:nth-of-type(2n) {
	padding-top: 26px;
    
}