.intro {
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 92px;
    padding-left: 148px;
    padding-right: 442px;  
}

@media screen and (max-width: 960px) {
	.intro {
        width: 100%;
        padding: 0;
	}
}

@media screen and (max-width: 540px) {
	.intro {
        width: 100%;
        padding: 0;   
	}
}