.website__url-heading {
    width: 456px;
    height: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 0 auto;
    margin-left: 40px;
    padding-bottom: 0;
    letter-spacing: 2px;
    color: #a2a2a2;
}