.lead__subtitle {
    max-width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 64px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

