.place__link {
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

@media screen and (max-width: 540px) {
	.place__link {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 32px;
	}
}