.place {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 40px 48px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

.place:first-of-type {
	margin-top: 0;
}

@media screen and (max-width: 1120px) {
	.place {
        gap: 32px 48px;  
	}
}

@media screen and (max-width: 960px) {
	.place {
        gap: 28px 48px;   
	}
}

@media screen and (max-width: 540px) {
	.place {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(1, auto);
        gap: 32px 32px;   
	}
}
